.admin-club-container{
    /* border:1px solid red; */
    height: 500px;
    width: 100%;
    margin-top: 30px;
    border-radius: 22px;
    background-color: var(--background-color);
    padding: 20px;
}


.admin-club-container-title{
    /* border:1px solid red; */
    width: 100%;
    height: 50px;
    color: var(--title-color);
    font-family: monospace;
    font-size: 22px;
    margin-top: 15px;
}

.admin-club-container-carousel{
    /* border:1px solid red; */
    width: 100%;
    height:400px;
    margin-top: 20px;
}

.admin-club-container-create-button{
    /* border:1px solid red; */
    width: 18%;
    height: 50px;
    margin-left: 525px;
    margin-top: 50px;
    border-radius: 22px;
    background-color: var(--background-color);
    font-size: 16px;
    font-family: monospace;
    color: var(--title-color);
    /* box-shadow: 0px 0px 25px rgba(0,0,0,1); */
}